<div class="menu-container">
  <a href="https://github.com/xRuisu">
    <img
      class="menu-item--github"
      src="/UnityLink-Frontend/images/svgs/github-white.svg"
      alt="Github"
  /></a>

  <a href="/user/{user_id}">
    <img
      class="menu-item--profile"
      src="/UnityLink-Frontend/images/svgs/user.svg"
      alt="User Profile"
  /></a>

  <img
    class="menu-item--search"
    src="/UnityLink-Frontend/images/search-svgrepo-com.png"
    alt="search"
  />
  <form id="searchForm" action="/search" method="GET">
    <input id="searchInput" class="search__input" type="text" name="query" />
  </form>
</div>
