<form id="loginPopup" class="login-container">
  <h3 class="login-text anton-sc-regular">Login</h3>
  <label class="input-labels gruppo-regular" for="user-email">Email:</label>
  <input class="input-container" id="user-email" type="text" />
  <label class="input-labels gruppo-regular" for="user-password"
    >Password:</label
  >
  <input class="input-container" id="user-password" type="password" />
  <button class="close-popup button-effect" onclick="closeLoginPopup()">
    Close
  </button>
</form>
