<div id="homeBtns" class="nav-container">
  <div class="button-container">
    <a
      class="button gruppo-regular"
      onmouseover="moveArrow()"
      onclick="openLoginPopup()"
    >
      Login
      <p id="firstArw" class="button__arrow">➤</p>
    </a>
  </div>
  <div class="button-container">
    <a
      class="button gruppo-regular"
      href="Dashboard.html"
      onmouseover="moveArrow()"
    >
      View Teams
      <p id="secondArw" class="button__arrow">➤</p>
    </a>
  </div>
</div>
