<div id="loginContainer" class="container">
  <div class="button-container">
    <a
      class="button gruppo-regular"
      onmouseover="moveArrow()"
      onclick="openLoginPopup()"
    >
      Login
      <p id="firstArrow" class="button__arrow">➤</p>
    </a>
  </div>
  <div class="button-container">
    <a
      class="button gruppo-regular"
      href="Dashboard.html"
      onmouseover="moveArrow()"
    >
      View Teams
      <p id="secondArrow" class="button__arrow">➤</p>
    </a>
  </div>
</div>
