<nav>
  <div class="drop-menu-container" onclick="toggleNavigation()">
    <div class="emblem-container--small">
      <p class="emblem-text--small anton-sc-regular">!</p>
      <div class="circle--small circle-one--small"></div>
      <div class="circle--small circle-two--small"></div>
    </div>
    <a href="/user/{user_id}">
      <img
        id="user"
        class="hide-element"
        src="images/svgs/user.svg"
        alt="User Profile"
      />
    </a>
    <a href="/teams/{teams_list}">
      <img
        id="teams"
        class="hide-element"
        src="images/svgs/teams.svg"
        alt="Teams"
      />
    </a>
    <a href="Dashboard.html">
      <img
        id="dash"
        class="hide-element"
        src="images/svgs/dash.svg"
        alt="Dashboard"
      />
    </a>
    <a href="/settings">
      <img
        id="settings"
        class="hide-element"
        src="images/svgs/settings.svg"
        alt="Settings"
      />
    </a>
    <div id="bg" class="hide-element"></div>
  </div>
</nav>
