<h3 class="login-text anton-sc-regular">Register</h3>
<label class="input-labels gruppo-regular" for="uName">Name:</label>
<input class="input-container" id="uName" name="uName" type="text" required />

<label class="input-labels gruppo-regular" for="uMail">Email:</label>
<input class="input-container" id="uMail" name="uMail" type="email" required />

<label class="input-labels gruppo-regular" for="uPassword">Password:</label>
<input
  class="input-container"
  id="uPassword"
  name="uPassword"
  type="password"
  required
/>

<label class="input-labels gruppo-regular" for="uConfirmPassword"
  >Confirm Password:</label
>
<input
  class="input-container"
  id="uConfirmPassword"
  name="uConfirmPassword"
  type="password"
  required
/>

<button
  class="popup-button popup-button--close anton-sc-regular"
  type="button"
  onclick="closeLoginPopup()"
>
  Close
</button>
<a class="register-link gruppo-regular" href="#" onclick="showLoginForm()"
  >Already have an account?</a
>
