/* MAIN */
@import url(/Fontend/css/normalize.css);

root {
  --color-green: #99ffcc;
  --color-blue: #00bbf3;
}

html {
  font-size: 65.5%;
}
*,
*::after,
::before {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
}

body,
h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
}

button {
  border-style: none;
  margin: 1rem;
  padding: 0;
}

/* Anton Font */
.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BACKGROUND */
.bg {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) -4%,
    rgba(0, 92, 255, 1) 100%
  );
}

/* BLOCKS */
.block--dark {
  position: relative;
  background: #141414;
}
.block--white {
  background: white;
}
.block--skewed-top {
  clip-path: polygon(0 100%, 100% 70%, 101% 0, 0 0);
}
.block--skewed-bottom {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
}

/* HEADER */
.header-container {
  display: block;
  text-align: center;
  height: 215px;
}
.unitylink__title {
  background: linear-gradient(to right, white 49%, #00bbf3 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -5px;
  padding: 4px;
}
.sub__title {
  margin: 0;
  font-size: 20px;
  color: lightcyan;
  text-shadow: 2px 4px 1px black;
}

/* NAV DROP MENU */
.drop-menu-container {
  position: relative;
  width: 75px;
  height: 1rem;
}
.hide-element {
  transition: 0.3s ease-out;
  position: relative;
  width: 35px;
  height: 35px;
  top: -22rem;
  left: 16px;
  z-index: -5;
  opacity: 0%;
}
.drop__menu-icon {
  transition: 0.3s ease-in;
  position: relative;
  padding-bottom: 1rem;
  top: 0rem;
  left: 16px;
  z-index: 5;
  opacity: 100%;
}
.drop__menu-icon:hover {
  transition: 0.3s ease;
  transform: rotateZ(8deg);
  opacity: 60%;
}
.drop-menu-bg {
  position: absolute;
  border-radius: 25px;
  width: 4.8rem;
  height: 22rem;
  top: 1rem;
  left: 8px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9233894241290266) 5%,
    rgba(0, 196, 255, 0.9822129535407913) 69%
  );
  opacity: 20%;
}
/* NAV BUTTONS */
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
/* BUTTONS */
.button-container {
  display: block;
  margin-top: 4rem;
  border: 2px solid #00bbf3;
  border-radius: 30px;
  width: 300px;
  height: 50px;
  background: #141414;
}
.button {
  display: inline-block;
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  width: 150px;
  color: lightcyan;
}
.button:hover {
  color: #00bbf3;
  cursor: pointer;
}

/* BUTTON ARROW */
.button__arrow {
  position: relative;
  bottom: 18px;
  left: 12rem;
  color: white;
  opacity: 0;
}

/* FOOTER */
.footer-container {
  position: relative;
  border-top: 2px solid #00bbf3;
  top: 59rem;
  border-radius: 100%;
}
.copy__right {
  position: relative;
  text-align: center;
  color: white;
  top: 15px;
  margin-bottom: 20px;
  opacity: 35%;
}
.copy__right--sub {
  text-align: center;
  font-weight: 700;
  color: lightcyan;
}
.copy__right--sub:hover {
  text-decoration: underline;
  transform: scale(1.5);
}

/* POPUP FORM */
.login-container {
  display: none;
  position: absolute;
  border: 3px solid lightcyan;
  border-top: none;
  border-radius: 10%;
  box-shadow: 0px 1px 14px deepskyblue;
}

.login-text {
  display: flex;
  font-size: 36px;
  justify-content: center;
  color: lightgreen;
  text-shadow: 1px 1px 10px #14a0ff;
  border-bottom: 3px solid lightcyan;
  border-radius: 100%;
  margin: -18px 40px 18px 40px;
}

.input-labels {
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
  color: mediumspringgreen;
}

.input-container {
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  background: none;
  border-bottom: 1px dashed lightskyblue;
  color: white;
  text-decoration: wavy;
  width: 100%;
}

.input-container:focus {
  transition: 0.3s ease;
  outline: 1px solid lightgreen;
  border-radius: 10%;
}

.close-popup {
  position: relative;
  border: 1px solid lightskyblue;
  background: none;
  color: lightcyan;
  padding: 4px;
  border-radius: 10%;
  width: 100px;
  box-shadow: 0px 0px 9px lightseagreen;
  font-size: 16px;
}

/* WEB EMBLEM */
.circle--small {
  display: block;
  position: absolute;
  border: 2px solid #00bbf3;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 4px white;
}

.circle-one--small {
  top: 13px;
  left: 22px;
}

.circle-two--small {
  top: 2rem;
  left: 1rem;
}

.emblem-text--small {
  position: absolute;
  color: lightcyan;
  font-size: 15px;
  font-weight: 700;
  text-shadow: 1px 1px 5px #00ff89;
  top: 25px;
  left: 31px;
}

.circle--large {
  display: block;
  position: absolute;
  border: 3px solid #00bbf3;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 5px #00ff89;
}

.circle-one--large {
  top: 28rem;
  left: 64rem;
}

.circle-two--large {
  top: 25rem;
  left: 70rem;
}

.emblem-text--large {
  position: absolute;
  color: white;
  font-size: 8.5rem;
  font-weight: 400;
  text-shadow: 1px 1px 5px #00ff89;
  top: 330px;
  left: 779px;
}

.emblem-container {
  position: relative;
  margin-bottom: 5px;
  top: -6rem;
}
.button-effect {
  opacity: 95%;
}

.button-effect:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 12px lightgreen;
  color: lightcoral;
}

/* MEDIA QUERIES */
@media screen and (min-width: 200px) {
  .header-container {
    height: 110px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1rem;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
    gap: 0;
  }
  .drop-menu-container {
    height: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7rem;
  }
  .button-container {
    margin-top: 1rem;
    width: 260px;
  }
  .button {
    text-align: center;
    margin-top: 3px;
    margin-left: 5rem;
  }
  .button__arrow {
    display: none;
  }
  .login-container {
    margin: 2rem;
  }
  .close-popup {
    left: 10rem;
  }
}
@media screen and (min-width: 390px) {
  .header-container {
    height: 154px;
  }
  .close-popup {
    left: 11rem;
  }
}
@media screen and (min-width: 431px) {
  .header-container {
    height: 160px;
  }
  .unitylink__title {
    font-size: 4rem;
  }
  .sub__title {
    font-size: 3rem;
  }
  .login-container {
    margin: 4rem;
  }
  .close-popup {
    left: 16rem;
  }
}
@media screen and (min-width: 560px) {
  .container {
    flex-direction: row;
    gap: 2rem;
  }
  .login-container {
    margin-left: 4rem;
  }
  .close-popup {
    left: 27rem;
  }
}
@media screen and (min-width: 1080px) {
  .header-container {
    height: 180px;
  }
  .block--skewed-top {
    clip-path: polygon(0 100%, 100% 70%, 101% 0, 0 0);
  }
  .unitylink__title {
    font-size: 5rem;
  }
  .sub__title {
    font-size: 4rem;
  }
  .login-container {
    margin-left: 38rem;
  }
  .close-popup {
    left: 30rem;
  }
}
